<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Restro Signup</h1><hr>
                </div>
                <form [formGroup]="signupForm" (ngSubmit)="signup()">
                    <div class="mb-3">
                        <label  class="form-label">Name</label>
                        <input formControlName="name" [maxlength]="30" [minlength]="3" type="email" class="form-control" placeholder="Enter Name" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <div class="text-danger" *ngIf="submitted && signupForm
                        && signupForm.controls
                        && signupForm.controls['name']
                        && signupForm.controls['name']['errors']
                        && signupForm.controls['name']['errors']['maxlength']">
                      {{signupForm.controls['name']['errors']['maxlength']['requiredLength']}}
                           Digit required  </div>
                           <div class="text-danger" *ngIf="submitted && signupForm
                           && signupForm.controls
                           && signupForm.controls['name']
                           && signupForm.controls['name']['errors']
                           && signupForm.controls['name']['errors']['minlength']">
                         {{signupForm.controls['name']['errors']['minlength']['requiredLength']}}
                              Digit required  </div>
                      </div>
                        <div class="mb-3">
                          <label class="form-label">Phone/Mobile No.</label><br>
                          <input placeholder="Enter Mobile Number" [minLength]="10" [maxlength]="10" formControlName="phone" class="form-control" type="text" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*?)\..*/g, '$1');" />
                          <div>
                            <div class="text-danger" *ngIf="submitted && signupForm 
                            && signupForm.controls 
                            && signupForm.controls['phone'] 
                            && signupForm.controls['phone']['errors'] 
                            && signupForm.controls['phone']['errors']['required']">Mobile number is required</div>
                          </div>
                        <div class="text-danger" *ngIf="submitted && signupForm
                        && signupForm.controls
                        && signupForm.controls['phone']
                        && signupForm.controls['phone']['errors']
                        && signupForm.controls['phone']['errors']['minlength']">
                      {{signupForm.controls['phone']['errors']['minlength']['requiredLength']}}
                           Digit required  </div>
                           <div class="text-danger" *ngIf="submitted && signupForm
                           && signupForm.controls
                           && signupForm.controls['phone']
                           && signupForm.controls['phone']['errors']
                           && signupForm.controls['phone']['errors']['maxlength']">
                         {{signupForm.controls['phone']['errors']['maxlength']['requiredLength']}}
                              Digit required  </div>
                        </div>
                    <div class="mb-3">
                      <label  class="form-label">Email address</label>
                      <input formControlName="email" type="email" class="form-control" pattern="[^ @]*@[^ @]*" placeholder="Enter your email">
                      <div>
                        <div class="text-danger" *ngIf="submitted && signupForm 
                        && signupForm.controls 
                        && signupForm.controls['email'] 
                        && signupForm.controls['email']['errors'] 
                        && signupForm.controls['email']['errors']['required']">Email is required</div>
                      </div>
                      <div>
                        <div class="text-danger" *ngIf="submitted && signupForm 
                        && signupForm.controls 
                        && signupForm.controls['email'] 
                        && signupForm.controls['email']['errors'] 
                        && signupForm.controls['email']['errors']['pattern']">Incorrect pattern</div>
                      </div>
                    </div>
                    <div class="mb-3">
                      <label class="form-label">Password</label>
                      <input formControlName="password" [maxlength]="20" type="password" placeholder="Enter Password" class="form-control" id="exampleInputPassword1">
                      <div class="text-danger" *ngIf="submitted && signupForm
                      && signupForm.controls
                      && signupForm.controls['password']
                      && signupForm.controls['password']['errors']
                      && signupForm.controls['password']['errors']['maxlength']">
                    {{signupForm.controls['password']['errors']['maxlength']['requiredLength']}}
                         Digit required  </div>
                    </div>
                  
                    <button type="submit" class="btn btn-primary">Signup</button>
                  </form>
                  <a routerLink="/login" style="color: black ; margin-top: 10px;" >Already Registered User</a>
            </div>
        </div>
    </div>
</div>
